#choice {
  padding: 100px 0;

  .choice {
    display: flex;
    align-items: start;
    justify-content: space-between;

    &--card {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__details {
        display: flex;
        align-items: start;
        justify-content: space-between;
        background: #FFFFFF;
        border-radius: 25px;
        padding: 30px;
        margin: 8px 0;

        &--text {
          width: 90%;

          h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 22px;
            color: #000000;
          }

          p {
            padding-top: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 140%;
            color: rgba(27, 27, 27, 0.8);
          }

          a {
            transition: 0.5s all;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            border-bottom: 2px solid #000000;

            &:hover {
              color: #EC3025;
              border-bottom: 2px solid #EC3025;
            }
          }
        }
      }
    }

    h1 {
      width: 120%;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 36px;
      color: #000000;

      span {
        color: #EC3025;
        padding: 0 10px;
      }
    }
  }
}