#choice {
  padding: 100px 0;

  .choice {
    display: flex;
    align-items: start;
    justify-content: space-between;

    &--card {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__details {
        display: flex;
        align-items: start;
        justify-content: space-between;
        background: #FFFFFF;
        border-radius: 25px;
        padding: 30px;
        margin: 8px 0;

        &--text {
          width: 90%;

          h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 22px;
            color: #000000;
          }

          p {
            padding-top: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 140%;
            color: rgba(27, 27, 27, 0.8);
          }

          a {
            transition: 0.5s all;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            border-bottom: 2px solid #000000;

            &:hover {
              color: #EC3025;
              border-bottom: 2px solid #EC3025;
            }
          }
        }
      }
    }

    h1 {
      width: 120%;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 36px;
      color: #000000;

      span {
        color: #EC3025;
        padding: 0 10px;
      }
    }
  }
}
@media (max-width: 1024px) {
  #choice .choice h1 {
    width: 171%;
    font-size: 32px;
  }
}
@media (max-width: 876px) {
  #choice .choice {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
  }
}
@media (max-width: 800px) {

}
@media (max-width: 415px) {
  #choice .choice--card__details--text p {
    padding-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    color: rgba(27, 27, 27, 0.8);
    width: 119%;
    margin-left: -40px;
  }
}
@media (max-width: 412px) {

}
@media (max-width: 391px) {

}
@media (max-width: 376px) {
  #choice .choice--card__details--text p {
    width: 140%;
  }
}
@media (max-width: 320px) {
  #choice .choice h1 {
    font-size: 30px;
  }
  #choice .choice--card__details {
    margin: 10px 19px;
    width: 80%;
  }
}