#heroAbout {
  .heroAbout {
    &--texts {
      background: linear-gradient(289.3deg, rgba(19, 19, 19, 0.3) 17.11%, rgba(28, 28, 28, 0.261) 100%);
      border-radius: 20px;
      padding: 120px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h1 {
        font-style: normal;
        font-weight: 700;
        letter-spacing: 10px;
        font-size: 128px;
        line-height: 100%;
        color: #FFFFFF;

        span {
          color: #EC3025;
        }
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 140%;
        color: #FFFFFF;
      }
    }
  }
}
@media (max-width:1024px) {
  #hero .hero--logos h1 {
    font-size: 100px;
  }
}
@media (max-width: 876px) {
  #hero .hero--logos h1 {
    font-size: 80px;
  }
}
@media (max-width: 800px) {
  #hero .hero--logos h1 {
    font-size: 80px;
  }
}
@media (max-width: 415px) {
  #hero .hero--logos h1 {
    font-size: 30px;
  }
  #hero .hero--logos p {
    font-size: 15px;
  }
  #hero .hero--logos button {
    padding: 10px 65px;
  }
}
@media (max-width: 412px) {
  #hero .hero--logos h1 {
    font-size: 30px;
  }
  #hero .hero--logos p {
    font-size: 15px;
  }
  #hero .hero--logos button {
    padding: 10px 65px;
  }
}
@media (max-width: 391px) {
  #hero .hero--logos h1 {
    font-size: 25px;
  }
  #hero .hero--logos p {
    font-size: 13px;
  }
  #hero .hero--logos button {
    padding: 10px 55px;
  }
}
@media (max-width: 376px) {
  #hero .hero--logos h1 {
    font-size: 25px;
  }
  #hero .hero--logos p {
    font-size: 13px;
  }
  #hero .hero--logos button {
    padding: 10px 63px;
  }
}
@media (max-width: 320px) {
  #hero .hero--logos h1 {
    font-size: 15px;
  }  #hero .hero--logos p{
    font-size: 10px;
  }
  #hero .hero--logos button{
    padding: 5px 35px;
    font-size: 15px;
  }
}