#footer {
  background: #090A0C;
  padding: 80px 0 120px 0;

  .footer {
    display: flex;
    align-items: start;
    justify-content: space-between;

    iframe {
      width: 485px;
      height: 260px;
    }

    &--uses {
      display: flex;
      flex-direction: column;
      width: 50%;

      &__group {
        display: flex;
        align-items: start;
        justify-content: space-between;

        &--icons {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          a {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 130%;
            color: rgba(255, 255, 255, 0.6);
          }

          &__8com {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 170%;

            a {
              background: #FFFFFF;
              color: #000000;
              border-radius: 50%;
              padding: 4px;
            }
          }
        }
      }

      table {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding-top: 12%;

        tr {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          th {
            cursor: pointer;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 190%;
            color: #FFFFFF;
          }

          td {
            cursor: pointer;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 130%;
            color: rgba(255, 255, 255, 0.8);
          }
        }

        td {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          a {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 200%;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}